h3{
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
    text-shadow: 5px 5px 0 black ;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }