body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, figure, input {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-family: inherit;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }