.box{
    display: inline-block;
    background-color: #3a4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}

.box .main-title{ /*defines which element inside the box I want to change*/
    margin-bottom: 28px;    
}

