.main-banner{
    background-color: #1081FA;
    height: 800px;
    border-bottom: 10px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box{
    margin-bottom: 40px;
}

.main-banner .navigation{
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }