form{
    background-color: #3a4042;
}

.main-label{
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px; 
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }