.main-button{
    display: inline-block;
    background-color: #F25A70;
    box-shadow:5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: trasform 200ms linear, background-color 200ms linear ;
    
}

.main-button:hover{
    background-color: #2980b9; 
    transform: scale(1.08);
}