.main-form{
    padding: 50px 40px;
}

.main-form .main-title{
    margin-bottom: 50px;
}

.main-form .main-input{
    margin-bottom: 20px;
}

.main-form .main-input.-textarea{
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }