.main-subtitle{
    font-size: 28px;
    text-shadow: 4px 4px 0 #000 ;
    color: #fff;
    font-family: "Press Start 2P", sans-serif;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }