.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 15px;
}

.main-header nav {
  display: flex;
  gap: 15px;
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }