.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}

.progress-bar::-moz-progress-bar{
    background-color: #FFF;
}

.progress-bar::-webkit-progress-value{
    background-color: #7C5E99
}

@media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }